body {
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  width: 50%;
  margin: 0 auto 0 auto;
}

a {
  color: #5b5b5b;
  text-decoration: none;
  margin: 10px 20px;
}

.sekcja2 {
  background-color: #d8ac9c;
  padding: 50px;
  line-height: 2;
display: inline-block;
}

.len-rozowy10 {
  width: 25%;

}

.len-rozowy1 {
  width: 25%;

}

.vvvvvv1 {
  width: 25%;
margin: 0 50px 0 50px;

}

.sekcja3 {
  background-color: grey;
  line-height: 2;
}
